<ion-menu id="beforeMenu" [content]="content">
  <ion-header > 
    <ion-title><b><h2>Vexpense</h2></b></ion-title>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pagesBeforeLogin" (click)="openPage(p)">
        <i class="fa fa-{{ p.icon }} fa-fw" aria-hidden="true"></i>&nbsp;&nbsp; {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu id="afterMenu" [content]="content">
<ion-header text-center>
  <ion-title><b><h2 style="font-family:Brush Script MT, cursive;color:#6e1b76;
  font-variant: normal;
  font-size: 40px;">Vexpense</h2></b></ion-title>
</ion-header>

<ion-content>
  <ion-list>
    <button  menuClose ion-item *ngFor="let p of pagesAfterLogin" (click)="openPage(p)">
      <i class="fa fa-{{ p.icon }} fa-fw" aria-hidden="true"></i>&nbsp;&nbsp; {{p.title}}
    </button>
  </ion-list>
</ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>